{% load i18n %}

<html lang="{% translate 'lang' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NumBombOnline</title>
    {% include 'style.html' %}
</head>

<body>
    <h1>NumBombOnline</h1>
    {% if user.is_authenticated %}
    <p>{% translate "Welcome" %}, {{ user.username }}! <a href="{% url 'profile' %}">Profile</a> <a href="{% url 'logout' %}">Logout</a></p>
    <h2>{% translate "Room List" %}</h2>
    <p><a href="{% url 'room_create' %}">{% translate "Create a Room" %}</a></p>
    <ul>
        {% for room in rooms %}
        <li><a href="{% url 'room_detail' room.id %}">{{ room.name }}</a></li>
        {% empty %}
        <li>{% translate "No Rooms Available" %}</li>
        {% endfor %}
    </ul>
    {% else %}
    <a href="{% url 'login' %}" style="font-size: 300px">Login</a>
    <a href="{% url 'register' %}" style="font-size: 300px">Register</a>
    {% endif %}
</body>

</html>