{% load i18n %}

<!DOCTYPE html>
<html lang="{% translate 'lang' %}">

<head>
    <meta charset="UTF-8">
    <title>{% translate 'Login' %}</title>
    {% include 'style.html' %}
</head>
<body>
    <div class="middle">
        <form style="text-align: center;" method="post">
            {% csrf_token %}
            <p style="font-size: large; background: rgba(255,255,255,0.5);">{% translate 'Login' %}</p>
            <p><label>{% translate 'Username' %}: <input style="width: 300px; height: 50px; background: rgba(255,255,255,0.5);" name="username"></label></p>
            <p><label>{% translate 'Password' %}: <input style="width: 300px; height: 50px; background: rgba(255,255,255,0.5);" name="password" type="password"></label></p>
            <input style="width: 300px; height: 100px; background: rgba(255,255,255,0.5);" type="submit" value="{% translate 'Login' %}" />
        </form>
    </div>
</body>

</html>