{% load i18n %}

<html lang="{% translate 'lang' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "Profile" %}</title>
    {% include "style.html" %}
</head>

<body>
    <div class="middle">
        <h1>{% translate "Profile" %}</h1>
        <p>{% blocktranslate with username=user.username %}Welcome To {{ username }}'s Profile!{% endblocktranslate %}</p>
        <p>{% translate "Email" %}: {{ user.email }}</p>
        <h2>{% translate "Bio" %}</h2>
        {% if user == request.user %}
        <a href="{% url 'change_bio' %}">{% translate "Change bio" %}</a>
        {% endif %}
        {% if user.bio == "" %}
        <p>{% translate "This user has not written a bio yet." %}</p>
        {% else %}
        <p>{{ user.bio }}</p>
        {% endif %}
    </div>
</body>

</html>