{% load i18n %}

<html lang="{% translate 'lang' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate 'Register' %}</title>
    <script>
        function submitForm() {
            if (document.getElementById("password").value!= document.getElementById("password_again").value) {
                alert("{% translate 'Passwords do not match' %}");
                return false;
            }
            document.getElementById("register-form").submit();
        }
    </script>
    {% include 'style.html' %}
</head>
<body>
    <div class="middle" style="text-align: center;">
        <form id="register-form" method="post">
            {% csrf_token %}
            <p style="font-size: large; background: rgba(255,255,255,0.5);">{% translate 'Register To NumBombOnline' %}</p>
            <table>
                <tr>
                    <td>{% translate 'Username' context 'register' %}:</td>
                    <td><input style="width: 300px; height: 50px; background: rgba(255,255,255,0.5);" name="username"></td>
                </tr>
                <tr>
                    <td>{% translate 'Email' %}:</td>
                    <td><input style="width: 300px; height: 50px; background: rgba(255,255,255,0.5);" name="email"></td>
                </tr>
                <tr>
                    <td>{% translate 'Password' %}:</td>
                    <td><input type="password" style="width: 300px; height: 50px; background: rgba(255,255,255,0.5);" name="password" id="password"></td>
                </tr>
                <tr>
                    <td>{% translate 'Confirm Password' %}:</td>
                    <td><input type="password" style="width: 300px; height: 50px; background: rgba(255,255,255,0.5);" name="password_again" id="password_again"></td>
                </tr>
            </table>
        </form>
        <p><button style="width: 300px; height: 50px; background: rgba(255,255,255,0.5);" onclick="submitForm()">{% translate 'Register' %}</button></p>
    </div>
</body>
</html>