<style>
    body {
        background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
    }

    .middle {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    a {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .btn {
        display: inline-block;
        background: linear-gradient(90deg, #ff0000, #ff8000, #ffff00, #00ff00, #00BFFF, #0000ff, #4b0082, #9400d3, #ff00ff, #ff0000);
        background-size: 1000px 100%;
        border-radius: 8px;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        animation-duration: 3s;
        animation-name: colorchange;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"] {
        background: linear-gradient(90deg, #ff0000, #ff8000, #ffff00, #00ff00, #00BFFF, #0000ff, #4b0082, #9400d3, #ff00ff, #ff0000);
        background-size: 1000px 100%;
        border-radius: 8px;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        animation-duration: 3s;
        animation-name: colorchange;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes colorchange {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 1000px 0;
        }
    }
</style>