{% load i18n %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>echo test</title>
    {% include 'style.html' %}

</head>

<body>
    <div class="middle">
        <input type="text" id="message" placeholder="Enter message">
        <script>
            function getWSUrl() {
                const protocol = window.location.protocol === 'https:' ? 'wss' : 'ws';
                const host = window.location.host;
                const path = '/ws/';
                return protocol + '://' + host + path;
            }
            const ws = new WebSocket(getWSUrl());
            const messages = document.getElementById('messages');
            const messageInput = document.getElementById('message');
            ws.onopen = function (event) {
                console.log('Socket opened');
            };
            ws.onmessage = function (event) {
                console.log('Received message:', event.data);
            };
            ws.onclose = function (event) {
                console.log('Socket closed');
                alert('Socket closed');
            };
            ws.onerror = function (error) {
                console.log('Socket error:', error);
                alert('Socket error');
            };
            messageInput.addEventListener('keyup', function (event) {
                if (event.keyCode === 13) {
                    const message = messageInput.value;
                    ws.send(message);
                    messageInput.value = '';
                }
            });
        </script>
    </div>
</body>

</html>